@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";

.legend{
  position: fixed;
  top: 45%;
  right: -31px;
  border: 0;
  padding: 5px 12px;
  font-size: 15px;
  color: white;
  background: $background-sidebar;
  border-radius: 15px 15px 0 0;
  z-index: 9;
  transform: rotate(-90deg);
  transition: all .5s ease;
  cursor: pointer;
  &:hover{
    color: $background-sidebar;
    background: white ;
  }

}

//Legendas
.yellow {
  background-color:yellow;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
//Fim legendas

//Switchs Buttons
.inlineSwitchButton{
  display: inline;
}
//End Switchs buttons


:host ::ng-deep .tabview-custom {
  i, span {
    vertical-align: middle;
  }

  span {
    margin: 0 .5rem;
  }
}

:host ::ng-deep .p-button {
  margin-right: .25rem;
}

:host ::ng-deep .p-tabview p {
  line-height: 1.5;
  margin: 0;
}

.rightSideMenu {
  width:auto !important;
  background: $background-sidebar;
  padding: 6px 14px;
  border: none;
  height:auto !important;
  margin-top: 16% !important;
  margin-right: 30px !important;
}

:host ::ng-deep .p-sidebar-right{
  width:auto !important;
  background: lighten($background-sidebar, 75%) !important;
  padding: 6px 14px;
  border: none;
  border-radius: 15px;
  height:auto !important;
  margin-top: 16% !important;
  margin-right: 30px !important;
  .p-sidebar-header {
    padding: 0rem;
    .p-sidebar-close{
      width: 4rem;
      &:hover{
        background: transparent;
      }
    }
  }
}

.p-tabview-nav {
  z-index: 10000 !important;
  background: lighten($background-sidebar, 10%) !important;
}

.p-tabview-panels {
  z-index: 10000 !important;
  background: lighten($background-sidebar, 10%) !important;
}

.toggle{
  padding: 10px;
}



