  <p-sidebar styleClass="rightSideMenu" position="right" [modal]="false" [(visible)]="displayOpcoes">

    <p-tabView styleClass="tabViewrightSideMenu">

        <p-tabPanel styleClass="tabPanelrightSideMenu" header="Legenda" >
          <div  class="font-legenda" *ngFor="let item of Legendas" class="{{item.color}}"> {{item.nome}} </div>
          </p-tabPanel>

        <p-tabPanel  header="Mapa-Base">
          <div class="toggle" *ngFor="let map of mapaBase">
            <p-inputSwitch  styleClass="inputSwitchClass" (onChange)="onChangeBaseMap(map.key)" [(ngModel)]="map.checked"> </p-inputSwitch>
            <p class="inlineSwitchButton"> {{map.nome}} </p>
            <br>
          </div>

        </p-tabPanel>
          <p-tabPanel  header="Limites">
            <div class="toggle" *ngFor="let limite of Limites">
              <p-inputSwitch [(ngModel)]="limite.checked"> </p-inputSwitch>
              <p class="inlineSwitchButton"> {{limite.nome}} </p>
              <br>
            </div>
        </p-tabPanel>

    </p-tabView>

  </p-sidebar>

  <button  (click)="toggleMenu()" class="legend">Opções</button>

