@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "default_theme";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
}
//
//::-webkit-scrollbar {
//  width: 5px;
//  margin-left: 10px;
//}
//
//::-webkit-scrollbar-track {
//  background-color: rgba(228, 228, 228, 0.09);
//  border-radius: 30px;
//}
//
//::-webkit-scrollbar-thumb {
//  border-radius: 30px;
//  border: 6px solid rgba(0, 0, 0, 0.18);
//  border-left: 0;
//  border-right: 0;
//  background-color:  lighten($background-sidebar, 60%);
//}

li:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #3f51b5;
  border-radius: 100%;
  opacity: .6;

  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

li:not(:active):after {
  animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
li:after {
  visibility: hidden;
}

li:focus:after {
  visibility: visible;
}

.map{
  .p-sidebar-left{
    left: 79px;
  }
}

.open {
  .p-sidebar-left{
    left: 108px;

  }
}
