@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";

.map {
  height: $height;
  width: $map-width;
  background: $secondary;

  .legend{
    position: fixed;
    top: 45%;
    right: -31px;
    border: 0;
    padding: 5px 12px;
    font-size: 15px;
    color: white;
    background: $background-sidebar;
    border-radius: 15px 15px 0 0;
    z-index: 9;
    transform: rotate(-90deg);
    transition: all .5s ease;
    cursor: pointer;
    &:hover{
      color: $background-sidebar;
      background: white ;
    }
  }
}


