<section #map  class="map" [class]="open ? 'open map' : 'map' " >
  <ol-map
    [lat]="-16.6958288"
    [lon]="-49.4443537"
    [zoom]="4.6"
    [basemap]="basemap"
    [width]="'100%'"
    [height]="'100%'"
  >
    <ol-control control="FullScreen">
    </ol-control>
    <ol-control control="ScaleLine">
    </ol-control>
    <ol-control control="Zoom">
    </ol-control>
    <ol-map-marker
      [lat]="-31.4152767257574"
      [lon]="-64.18438352450316"
    >
    </ol-map-marker>
  </ol-map>
</section>
