<section class="" [class]="openMenu ? 'open map-container' : 'map-container' ">
  <div [ngClass]="handleSideBars()">
    <ol-map
      [lat]="-16.6958288"
      [lon]="-49.4443537"
      [zoom]="4.6"
      [width]="'100%'"
      [height]="'100vh'"
      (onReady)="setMap($event)"
    >
      <ol-control control="FullScreen" [options]="{ source:'main'}">
      </ol-control>
      <ol-control control="ScaleLine" [options]="options">
      </ol-control>
      <ol-control control="mouseposition" [options]="mousePositionOptions">
      </ol-control>
      <ol-control control="Zoom">
      </ol-control>

      <!-- add graticule-->
      <ol-layer [layer]="graticule"></ol-layer>

      <!-- add layers-->
      <ol-layer *ngFor="let layer of layers" [layer]="layer"></ol-layer>

      <ol-map-marker  *ngIf="!showFormPoint && lat && lon" [lat]="lat" [lon]="lon" [text]="'Lat: ' + lat + '\nLon: ' + lon"></ol-map-marker>
      <div *ngIf="showFormPoint" class="search-point">
        <div class="search-point-container">
           <span class="p-float-label">
              <input type="number" id="lat" pInputText [(ngModel)]="lat" >
              <label for="lat">Latitude</label>
           </span>
          <span class="p-float-label">
              <input type="number" id="lon" pInputText [(ngModel)]="lon" >
              <label for="lat">Longitude</label>
           </span>
          <i (click)="searchPoint()" class='fg-location-on fg-lg'></i>
        </div>
      </div>
      <div class="coordinates">
        <div class="coordinates-container">
          <i (click)="showFormPoint = !showFormPoint" [pTooltip]="'map.find_point' | translate" class='fg-search-poi fg-lg'></i>
          <div id="coordinates-label" class="mouse-position"></div>
        </div>
      </div>
      <div *ngIf="this.selectedLayers.length > 0" class="legends">
        <div class="legends-container">
          <div class="legends-header">
            <h5>{{'legend.title' | translate}}</h5>
          </div>
          <div class="legends-body" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let layer of selectedLayers" cdkDrag [class]="layer.visible ? 'legend-card legend-card-active' :'legend-card'">
              <div class="legend-card-content"  >
                <div (click)="layer.visible = !layer.visible" class="abstract">
                  <span>
                   <i class='bx bx-move'></i>
                    <div class="legend-label">{{ layer.get('key') === 'planet' ? localizationService.translate('planet')  : layer.get('label') }}</div>
                    <i [class]="layer.visible  ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'" ></i>
                  </span>
                </div>
                <div class="details" *ngIf="layer.get('key') !== 'planet'">
                  <div class="details-inner">
                    <img src="http://ows.lapig.iesa.ufg.br/ows?EXCEPTIONS=application%2Fvnd.ogc.se_xml&TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetLegendGraphic&layer={{layer.get('key')}}&format=image%2Fpng" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="controls">
        <div class="controls-container">
          <i [pTooltip]="'controls.swipe' | translate" [class]="mapControls.swipe ? 'bx bx-book-content control-active' : 'bx bx-book-content '" (click)="mapControls.swipe = !mapControls.swipe"></i>
          <i [pTooltip]="'controls.search' | translate" [class]="mapControls.search ? 'bx bx-search-alt control-active' : 'bx bx-search-alt '" class='bx bx-search-alt' (click)="mapControls.search = !mapControls.search"></i>
          <i [pTooltip]="'controls.draw' | translate" [class]="mapControls.drawArea ? 'fg-polygon-pt control-active' : 'fg-polygon-pt'" class='fg-polygon-pt' (click)="onPolygon()"></i>
          <i [pTooltip]="'controls.measure' | translate" [class]="mapControls.measure ? 'fg-measure control-active' : 'fg-measure'" class='fg-measure' (click)="onRuler()" ></i>
          <i [pTooltip]="'controls.measureArea' | translate" [class]="mapControls.measureArea ? 'fg-measure-area control-active' : 'fg-measure-area'" class=' fg-measure-area' (click)="onRulerArea()" ></i>
<!--          <i [pTooltip]="'controls.print' | translate" [class]="mapControls.print ? 'bx bx-printer control-active' : 'bx bx-printer'" class='bx bx-printer' ></i>-->
        </div>
      </div>
      <div *ngIf="controlOptions" class="controls-details">
        <div class="controls-details-header">
         <h5>{{'controls.details.title' | translate}}</h5>
          <i (click)="controlOptions = !controlOptions" class='bx bx-x-circle'></i>
        </div>
        <div class="controls-details-body">

        </div>
      </div>
    </ol-map>
  </div>
</section>
