@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";

@include media('>=phone' , '<=tablet') {

.map {
    height: 100%;
    width: 100%;
    position:absolute;
    padding-bottom:100px;
  }

}

.map-loading,
.map-loading:before,
.map-loading:after {
  background: $primary;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.map-loading {
  font-size: 10px !important;
  color: $primary;
  text-indent: -9999em;
  margin: 18px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.map-loading:before,
.map-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.map-loading:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.map-loading:after {
  left: 1.5em;
}

