<section id="main" class="container">

  <app-left-side-bar
    #leftSideBar
    [map]="map"
    [descriptor]="descriptor"
    [basesmaps]="generalMap.basemapsAvaliable"
    [loadingDownload]="generalMap.loadingDown"
    (onMenuSelected)="onMenuSelected($event)"
    (onMenuToggle)="onMenuToggle($event)"
    (onSideBarToggle)="onSideBarToggle($event)"
    (onChangeLng)="onChangeLanguage()"
    (onLayerChangeVisibility)="generalMap.changeLayerVisibility($event)"
    (onLayerChangeTransparency)="generalMap.onChangeTransparency($event)"
    (onDownload)="generalMap.buttonDownload($event)"
    (onChangeMap)="generalMap.onChangeTransparency($event)"
  ></app-left-side-bar>

  <app-general-map
    #generalMap
    [descriptor]="descriptor"
    [showRightSideBar]="rightSideBar.displayOptions"
    [openMenu]="openMenu"
    [displayLayers]="showLayers"
    (mapInstance)="setMap($event)"
  ></app-general-map>

  <app-right-side-bar
    #rightSideBar
    [descriptor]="descriptor"
  ></app-right-side-bar>

</section>
