<section class="left-side-bar desktop">
  <div class="sidebar">
    <div [class]="open ? 'open ' : '' ">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon' (click)='toggleMenu()'></i>
      </div>
      <ul #leftSidebar class="nav-list">
        <drag-scroll class="nav-list-drag" [scrollbar-hidden]="true" [drag-scroll-x-disabled]="true">
          <li *ngFor="let item of menu">
            <div [pTooltip]="open ? '' : 'menu.'+item.key+'_tooltip'  | translate " (click)="handleMenu(item)"
                 [class]="item.show ? 'menu-active' : ''">
              <i class='{{item.icon}}'></i>
              <span class="links_name">{{'menu.' + item.key | translate}}</span>
            </div>
          </li>
        </drag-scroll>
      </ul>
      <ul class="nav-list footer">
        <div class="footer-drag">
          <li>
            <div [pTooltip]="open ? '' : 'menu.filters_tooltip'  | translate " (click)="handleMenu({key: 'filters'})"
                 [class]="displayFilter ? 'menu-active' : ''">
              <i class='fg-map-search'></i>
              <span class="links_name">{{'menu.filters'  | translate}}</span>
            </div>
          </li>
          <li (click)="handleLang('pt')">
            <div [class]="lang == 'pt' ? 'lng lng-active' : 'lng'">
              <span class="lng_name">PT</span>
            </div>
            <span class="tooltip">Filtrar</span>
          </li>
          <li (click)="handleLang('en')">
            <div [class]="lang == 'en' ? 'lng lng-active' : 'lng'">
              <span class="lng_name">EN</span>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <p-sidebar
    [appendTo]="leftSidebar"
    [modal]="false"
    [transitionOptions]="'350ms cubic-bezier(0, 0, 0.2, 1)'"
    [(visible)]="layersSideBar"
    (onShow)="onSideBarShow()"
    (visibleChange)="onSideBarToggle.emit(layersSideBar)"

  >
    <h4 class="title">{{ layersTitle }}</h4>
    <div class="content" [style]="{width: '100%', height: innerHeigth + 'px'}">
      <div class="menu-item" *ngIf="currentMenu?.key == 'layers'">
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <div [class]="expendGroup ? 'group-card group-card-active' :'group-card'">
          <div (click)="expendGroup = !expendGroup" class="abstract">
            <h3>This is what you see by default.</h3>
          </div>
          <div class="details">
            <div class="details-inner">
              <h3>Details</h3>
              <p>This additional content gets revealed on hover.</p>
            </div>
          </div>
        </div>
        <!--        <p-accordion [multiple]="true">-->
        <!--          <p-accordionTab header="Produção Agrícola e Agropecuária">-->
        <!--            Produção Agrícola e Agropecuária-->
        <!--          </p-accordionTab>-->
        <!--          <p-accordionTab header="Uso de Agrotóxicos">-->
        <!--            Uso de Agrotóxicos-->
        <!--          </p-accordionTab>-->
        <!--          <p-accordionTab header="Intoxicações por Agrotóxico de Uso Agrícola">-->
        <!--            Intoxicações por Agrotóxico de Uso Agrícola-->
        <!--          </p-accordionTab>-->
        <!--          <p-accordionTab header="Comparações Brasil X União Europeia">-->
        <!--            Comparações Brasil X União Europeia-->
        <!--          </p-accordionTab>-->
        <!--        </p-accordion>-->
      </div>
      <div class="menu-item" *ngIf="currentMenu?.key == 'statistics'">
      </div>
      <div class="menu-item" *ngIf="currentMenu?.key == 'area'">
      </div>
      <div class="menu-item" *ngIf="currentMenu?.key == 'filters'">
        <p-autoComplete [(ngModel)]="textSearch" [suggestions]="results"
                        (completeMethod)="search($event)"></p-autoComplete>
      </div>
    </div>
    <div class="footer">
      <div class="partners">
        <i class='bx bxl-c-plus-plus icon'></i>
        <i class='bx bxl-c-plus-plus icon'></i>
        <i class='bx bxl-c-plus-plus icon'></i>
      </div>
    </div>
  </p-sidebar>
</section>


<nav class="navtab mobile">

  <ul #leftSidebarMobile class="nav-list">
    <li class="navtab-item" *ngFor="let item of menuMobile" >
    <li class="navtab-item" *ngFor="let item of menu">

    <div align="center"  [pTooltip]="open ? '' : 'menu.'+item.key+'_tooltip'  | translate " (click)="handleMenu(item, true)"   >
      <div align="center" [pTooltip]="open ? '' : 'menu.'+item.key+'_tooltip'  | translate " (click)="handleMenu(item)">
        <i style="font-size:28px;width:90px;" class='svg {{item.icon}}'></i>
        <span class="links_name">{{'menu.' + item.key | translate}}</span>
      </div>
    </div>
    </li>
  </ul>

</nav>


<p-sidebar [appendTo]="leftSidebarMobile" [modal]="false" [(visible)]="layersSideBarMobile"  (onShow)="onSideBarShowMobile()">
  <h4 class="title">{{ layersTitle }}</h4>
  <p-scrollPanel class="content" [style]="{width: '100%', height: innerHeigth + 'px'}">
    <div class="menu-item" *ngIf="currentMenu?.key == 'layers'">
      <br>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Produção Agrícola e Agropecuária">
          Content 1
        </p-accordionTab>
        <p-accordionTab header="Uso de Agrotóxicos">
          Content 2
        </p-accordionTab>
        <p-accordionTab header="Intoxicações por Agrotóxico de Uso Agrícola">
          Content 3
        </p-accordionTab>
        <p-accordionTab header="Comparações Brasil x União Europeia">
          Content 3
        </p-accordionTab>

      </p-accordion>
    </div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'statistics'">

    </div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'area'">

    </div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'filters'">
      <p-autoComplete [(ngModel)]="textSearch" [suggestions]="results"
                      (completeMethod)="search($event)"></p-autoComplete>
    </div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'options'">

    </div>
  </p-scrollPanel>
  <div class="footer">
    <div class="partners">
      <i class='bx bxl-c-plus-plus icon'></i>
      <i class='bx bxl-c-plus-plus icon'></i>
      <i class='bx bxl-c-plus-plus icon'></i>
    </div>
  </div>
</p-sidebar>


